#b-ground {
	background-image: url("../images/ZOPP-title.png");
	width:320px;
	height:480px;
}

#t-screen {
	background: transparent;
	z-index: 200000;
	width: 320px;
	height: 226px;
	left: -0px;
	top: 0px;
	position: fixed;
}

#tt-screen {
	background: transparent;
	z-index: 200001;
	width: 320px;
	height: 75px;
	left: -0px;
	top: 0px;
	position: fixed;
}


#b-screen {
	background: transparent;
	z-index: 200000;
	width: 320px;
	height: 226px;
	left: -0px;
	top: 226px;
	position: fixed;
}

#bb-screen {
	background: transparent;
	z-index: 200001;
	width: 320px;
	height: 75px;
	left: -0px;
	top: 377px;
	position: fixed;
}

